.portfolio {
    padding-top: 120px;
      

    &__wrapper {
        margin-top: 60px;
    }
    
}


.custom-link {
    display: inline-block; // Делаем элемент блочно-строчным, чтобы transform работал корректно
    color: white; // Устанавливаем основной цвет текста
    text-decoration: underline; // Убираем подчеркивание
    transition: transform 0.2s ease, color 0.2s ease; // Плавный переход для трансформации и цвета
  
    &:hover {
      transform: scale(1.1); // Увеличиваем текст на 10% при наведении
      color: white; // Цвет текста при наведении
      text-decoration: none; // Убираем подчеркивание при наведении
    }
}

